<!-- <nav class="navbar navbar-expand-lg bg-body-tertiary bg-warning">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="#">Action</a></li>
            <li><a class="dropdown-item" routerLink="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" routerLink="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav> -->



<header class="background-color py-2">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <!-- <a routerLink="/" class="text-dark fs-4" >Home Services</a> -->
      <!-- <a routerLink="/" class="text-dark fs-4">
        <img src="https://static.vecteezy.com/system/resources/previews/022/429/507/non_2x/home-care-logo-design-template-design-vector.jpg" alt="Home Services Logo" style="height: 60px; width: 60px;">
      </a> -->
      <a routerLink="/" class="text-dark fs-4">
        <img src="assets/homecarelogo-removebg-preview.png" alt="Home Services Logo" style="height: 60px; width: 130px;">
      </a>
      <nav>
        <ul class="list-unstyled d-flex gap-3 mb-0">
          <li><a routerLink="/home" class="text-dark">Home</a></li>
          <li><a routerLink="/register-service" class="text-dark">Register Service</a></li>
          <li><a routerLink="#featured" class="text-dark">Featured Providers</a></li>
          <li><a routerLink="#contact" class="text-dark">Contact</a></li>
          <!-- <li><a routerLink="/login" class="text-dark">Login</a></li> -->
           <div class="d-flex position-absolute end-0">
          <li class="nav-item" *ngIf="!isLoggedIn">
            <a class="btn btn-outline-danger btn-sm" routerLink="/login">Login</a>
          </li>
          <li class="nav-item" *ngIf="isLoggedIn">
            <a class="btn btn-outline-danger btn-sm" href="javascript:void(0)" (click)="onLogout()">Logout</a>
          </li>
          &nbsp;
          &nbsp;
          &nbsp;
        </div>
        </ul>
      </nav>
    </div>
  </div>
</header>
